body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.debug {
  border: 1px solid black;
  min-height: 100px;
}
.logo {
  height: 40px;
}

a.droppy {
  width: 80px;
  height: 40px;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}
ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ccc;
  /* transform-origin: top; */
  display: none;
  /* transform: perspective(1000px) rotateX(-90deg); */
  /* transition: 1s; */
}
ul.active {
  /* transform: perspective(1000px) rotateX(0deg); */
  display: block;
}
ul li {
  list-style: none;
}
ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: lightgrey;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
ul li a:hover {
  background: #0d7ad0;
  text-decoration: none;
  color: #fff;
}
button {
  background-color: #262626;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
}
